body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; */
}

.content {
  min-height: calc(100vh - 50px);
}
.footer {
  height: 50px;
  background-color: #f8f9fa;
  color:#6c757d
}

.footer-inner{
  padding-top: 15px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline{
  vertical-align: top;
  display: inline-block;
}

.header{
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 15;
  font-size: x-large;
  font-family: auto;
  font-weight: bold;
}


.form-control-i{
  /* display: block; */
    /* width: 100%; */
    /* height: calc(1.5em + 0.75rem + 2px); */
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.set-color-btn{
  padding: 1px 0.75em 2px 0.75em;
  vertical-align: 6%;
  margin-left: 1px;
}

.waterfall-sort{
  margin-top: .2em;
  font-size: 1.1em;
  font-weight: 500;
}

.input-status{
  min-height: 32px;
}

.table{
  max-width: 800px;
}

.checkbox{
  vertical-align: -9%;
}

.btn-i{
  padding: .15rem .6rem;
  margin-right: 45px
}

.span-input{
  padding-top: 2px
}

.color-scheme{
  padding-top: 2.5px;
  margin-left: 3em;
}

.container-pad{
  padding-left: 38px;
  /* overflow-anchor: none; */
}

.example{
  vertical-align: -10%;
  padding-left: 0.75em;
}

a{
  color: grey;
}

a:hover{
  color: black;
}

.tablex{
  max-width:1000px;
  overflow-x: scroll;
  display: block;
  font-size:.8em
}

.table td, .table th{
  vertical-align: middle;
  padding: 0 .3em 0 .3em
}

.loading{
  margin-top: 0.35rem;
}

.help{
  float: right;
  margin-right: 1.2em;
  vertical-align: 2%;
}

.help svg{
  margin-top:-8px
}

a.xtooltip{
  cursor: pointer;
  font-size: 1.2em;
  /* vertical-align: -10%; */
  margin-top: -2px;
  margin-left: 3px;
}

.xtooltip-tip{
  max-width: 930px;
}

a.help:hover{
  color:darkblue;
  cursor:pointer;
}

.mut-counts-div{
   
    
}

.mut-counts-table{
  margin-top: 95px;
  font-size: 0.83em;
  margin-left: 75px;
}

.td-center{
  text-align: center;
}
.td-end{
  text-align: end;
}
.td-pad{
  padding-right: 5px;
  padding-left: 15px;
}
/* .mut-counts-div > td{
  min-width: 50px;  
} */

.colx{
  /* this is crucial. Otherwise, the page will automatically scroll to top in filter view after clicking on checkboxes */
  min-height: 450px;
}

.err{
  color: red
}


.help-container{
  border-top: 1px solid #b8bfc7;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 4.5em;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
  padding-right: 18%;
  padding-top: 1em;
  row-gap:1em;
  margin-bottom: 2em;
}

.help-row{
  text-align: left;
  max-width: 930px;
}

.help-row2{
  text-align: left;
  max-width: 1000px;
}

.row-head{
  font-weight: bold;
}

a{
  text-decoration: underline;
}

